.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Card trip definitions //
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.card-trip:hover {
  transform: scale(1.04);
}

a:hover{
  color:$dark_secondary;
  text-decoration: none;
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $dark_secondary;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $light_secondary;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// End of card trip definition

// card-offer-detail definition
.card-offer-detail {
  display: flex;
  justify-content: space-between;
  overflow:hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-offer-detail > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-offer-detail .card-offer-detail-description{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  position: relative;
}

.card-offer-detail-description {
  width: 60%;
}

.card-offer-detail-description .card-user {
  position: absolute;
  right: 35px;
  top: 20px;
  width: 100px;
}

.card-offer-detail h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.card-offer-detail p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}


.card-offer-detail .card-offer-detail-carousel {
  min-height: 500px;
  width: 60%;
}

.carousel-imagetag {
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  border-right: 1px, grey;
}

.card-offer-detail-description .lines{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#lines-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lines-photo {
  width: 75px;
}

#lines-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card-offer-pricing {
  font-size:18px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.card-product {
  overflow: hidden;
  height: 150px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.card-product:hover {
  transform: scale(1.02);
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.card-offer-detail-custom{
  border-radius: 20px;
}

/***** Card review definition ************/

.cards-review{
  margin: 10px;
  padding: 10px;
}

.card-review{
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $dark_primary;
  padding: 5px 10px;
  box-sizing: border-box;
}
.card-review:not(:last-child) {
  border-bottom: 1px solid $dark_secondary;
}

.card-review .card-review-header{
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.card-review .card-review-header img{
  width : 75px;
  height: 75px;
}

.card-review .review-comment{
  font-style: italic;
}
