// Dark Mode
.navbar-lewagon {
  justify-content: space-between;
  background-color: $dark_primary;
}
.navbar-lewagon .navbar-collapse, .navbar-lewagon_transparency .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img, .navbar-lewagon_transparency .navbar-brand img {
  width: 300px;
}
.dropdown-menu-right{
  right: 0 !important;
}
// Light Mode
.navbar-lewagon_transparency{
  justify-content: space-between;
}
.nav-link-light{
  color:white !important;
  font-weight: 700;
  opacity: 0.7;
}
.nav-link-light:hover{
  opacity: 1;
}
